body {
  background: hsla(340, 80%, 69%, 1);
  background: linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(340, 80%, 69%, 1) 0%, hsla(15, 93%, 71%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ef709b", endColorstr="#fa9372", GradientType=1 );
}